doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      console.log('Hello console!')   
    script(src='/javascripts/zendesk.js')
  body
    block content
